[package]
name = "htsget-config"
version = "0.1.0"
authors = ["Daniel del Castillo de la Rosa <delcastillodelarosadaniel@gmail.com>", "Marko Malenic <mmalenic1@gmail.com>"]
edition = "2021"

[features]
s3-storage = []
default = ["s3-storage"]

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_regex = "1.1"
regex = "1.6"
config = "0.13"
clap = { version = "4.0", features = ["derive", "env"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["registry", "env-filter"] }