[package]
name = "htsget-search"
version = "0.1.0"
authors = ["Christian Perez Llamas <chrispz@gmail.com>", "Roman Valls Guimera <brainstorm@nopcode.org>"]
edition = "2018"

[features]
default = ["async"]
async = ["tokio", "futures"]
#aws = ["aws-sdk-s3"]
aws = ["rusoto_core", "rusoto_s3"]

[dependencies]
async-trait = "0.1.50"
thiserror = "~1.0"
tokio = { version = "1.9.0", features = ["full"], optional = true }
futures = { version = "0.3.16", optional = true }
htsget-id-resolver = { path = "../htsget-id-resolver"}
rusoto_core = { version = "0.47.0", git = "https://github.com/rusoto/rusoto.git", optional = true }
rusoto_s3 = { version = "0.47.0", git = "https://github.com/rusoto/rusoto.git", optional = true }

#aws-sdk-s3 = { git = "https://github.com/awslabs/aws-sdk-rust", tag = "v0.0.19-alpha", package = "aws-sdk-s3", optional = true }

#noodles = { version = "0.5.0", features = ["bgzf", "bam", "bcf", "cram", "csi", "sam", "tabix", "vcf"] }
#
#noodles-bgzf = { version = "0.3.0", features = ['async'] }
#noodles-bam = { version = "0.3.0", features = ['async'] }
#noodles-bcf = { version = "0.4.0", features = ['async'] }
#noodles-cram = { version = "0.2.2", features = ['async'] }
#noodles-csi = { version = "0.2.2", features = ['async'] }
#noodles-tabix = { version = "0.5.0", features = ['async'] }
#noodles-vcf = { version = "0.4.0", features = ['async'] }

noodles = { git = "https://github.com/zaeleus/noodles", features = ["bgzf", "bam", "bcf", "cram", "csi", "sam", "tabix", "vcf"] }

noodles-bgzf = { git = "https://github.com/zaeleus/noodles", features = ['async'] }
noodles-bam = { git = "https://github.com/zaeleus/noodles", features = ['async'] }
noodles-bcf = { git = "https://github.com/zaeleus/noodles", features = ['async'] }
noodles-cram = { git = "https://github.com/zaeleus/noodles", features = ['async'] }
noodles-csi = { git = "https://github.com/zaeleus/noodles", features = ['async'] }
noodles-tabix = { git = "https://github.com/zaeleus/noodles", features = ['async'] }
noodles-vcf = { git = "https://github.com/zaeleus/noodles", features = ['async'] }

[dev-dependencies]
tempfile = "3.2.0"