[package]
name = "htsget-search"
version = "0.5.3"
rust-version = "1.65"
authors = ["Christian Perez Llamas <chrispz@gmail.com>", "Marko Malenic <mmalenic1@gmail.com>", "Roman Valls Guimera <brainstorm@nopcode.org>"]
edition = "2021"
description = "The primary mechanism by which htsget-rs interacts with, and processes bioinformatics files. It does this by using noodles to query files and their indices."
license = "MIT"
documentation = "https://github.com/umccr/htsget-rs/blob/main/htsget-search/README.md"
homepage = "https://github.com/umccr/htsget-rs/blob/main/htsget-search/README.md"
repository = "https://github.com/umccr/htsget-rs"

[features]
s3-storage = ["dep:bytes", "dep:aws-sdk-s3", "dep:aws-config", "htsget-config/s3-storage", "htsget-test/s3-storage"]
url-storage = ["dep:bytes", "dep:hyper-rustls", "hyper/client", "htsget-config/url-storage", "htsget-test/url-storage"]
default = []

[dependencies]
# Axum server
url = "2.3"
hyper = { version = "0.14", features = ["http1", "http2", "server"] }
tower-http = { version = "0.4", features = ["trace", "cors", "fs"] }
http = "0.2"
axum = "0.6"
rustls-pemfile = "1.0"
tower = { version = "0.4", features = ["make"] }

# Async
tokio-rustls = "0.23"
tokio = { version = "1.28", features = ["macros", "rt-multi-thread"] }
tokio-util = { version = "0.7", features = ["io", "compat"] }
futures = { version = "0.3" }
futures-util = "0.3"
async-trait = "0.1"

# Noodles
noodles = { version = "0.42", features = ["async", "core", "bgzf", "bam", "bcf", "cram", "csi", "sam", "tabix", "vcf"] }

# Amazon S3
bytes = { version = "1.4", optional = true }
aws-sdk-s3 = { version = "0.28", optional = true }
aws-config = { version = "0.55", optional = true }

# Url storage
hyper-rustls = { version = "0.23", features = ["rustls-native-certs", "http2", "http1"], optional = true }

# Error control, tracing, config
thiserror = "1.0"
htsget-config = { version = "0.6.2", path = "../htsget-config", default-features = false }
htsget-test = { version = "0.4.4", path = "../htsget-test", features = ["cors-tests"], default-features = false }
tracing = "0.1"
base64 = "0.21"
serde = "1.0"

[dev-dependencies]
tempfile = "3.6"
data-url = "0.3"

# S3 storage testing
s3s = { version = "0.6" }
s3s-fs = { version = "0.6" }
s3s-aws = { version = "0.6" }
aws-credential-types = { version = "0.55", features = ["test-util"] }

# Axum server
reqwest = { version = "0.11", default-features = false, features = ["rustls-tls"] }

criterion = { version = "0.5", features = ["async_tokio"] }

[[bench]]
name = "search-benchmarks"
harness = false
path = "benches/search_benchmarks.rs"
