name: tests

on: [push]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        rust: [stable]
        os: [ubuntu-latest]
    steps:
#### This step is only needed for GHA local runner, act:
## https://github.com/nektos/act
#### Leave commented for Actions running on GitHub
#      - name: Install curl (for nektos/act local CI testing) 
#        run: apt-get update && apt-get install build-essential curl pkg-config libssl-dev -y
####
      - name: Setup Rust cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      Run tests
      - uses: actions/checkout@v2
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
            toolchain: ${{ matrix.rust }}
            override: true
            components: rustfmt, clippy

      # - name: Run cargo fmt
      #   uses: actions-rs/cargo@v1
      #   with:
      #     command: fmt

      # - name: Build all features
      #   uses: actions-rs/cargo@v1
      #   with:
      #     command: build
      #     args: --all-targets --all-features

      # - name: Build no default features
      #   uses: actions-rs/cargo@v1
      #   with:
      #     command: build
      #     args: --all-targets --no-default-features

      # - name: Build aws-s3-storage feature
      #   uses: actions-rs/cargo@v1
      #   with:
      #     command: build
      #     args: --all-targets --features s3-storage

      # - name: Build illumina-gds-storage feature
      #   uses: actions-rs/cargo@v1
      #   with:
      #     command: build
      #     args: --all-targets --features gds-storage

      # - name: Run cargo clippy
      #   uses: actions-rs/cargo@v1
      #   with:
      #     command: clippy
      #     args: --all-targets --all-features

      # - name: Run cargo test
      #   uses: actions-rs/cargo@v1
      #   with:
      #     command: test
      #     args: --all-features

      # Run benchmarks
      - name: Run benchmarks
        run: cargo bench --bench search-benchmarks --bench request-benchmarks -- LIGHT --output-format bencher
#      - name: Show raw benchmark outputs
#        run: cat output.txt
      - name: Download previous benchmark data
        uses: actions/cache@v3
        with:
          path: ./cache
          key: ${{ runner.os }}-benchmark
      - name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@v1
        with:
          tool: 'cargo'
          output-file-path: output.txt
          external-data-json-path: ./cache/benchmark-data.json
          fail-on-alert: false
