name: benchmarks

on:
  push:
    branches:
      - main

permissions:
  deployments: write
  contents: write

jobs:
  benchmark:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        rust: [stable]
        os: [ubuntu-latest]
    steps:
      - name: Cache
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: Check out
        uses: actions/checkout@v6
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        id: toolchain
        with:
          toolchain: ${{ matrix.rust }}
      - name: Install binstall
        uses: cargo-bins/cargo-binstall@main
      - name: Install cargo-criterion
        run: cargo binstall cargo-criterion
      - name: Run search benchmarks
        run: cargo criterion --bench search-benchmarks --message-format=json -- LIGHT 1> search-benchmarks-output.json
      - name: Store search benchmark result
        uses: brainstorm/github-action-benchmark@cargo-criterion-v3
        with:
          name: Search benchmark
          tool: "cargo-criterion"
          output-file-path: search-benchmarks-output.json
          native-benchmark-data-dir-path: target/criterion
          fail-on-alert: false
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true
