name: build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ${{ matrix.os }}
    env:
      CARGO_TERM_COLOR: always
      CARGO_INCREMENTAL: 0
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    strategy:
      matrix:
        rust: [stable]
        os: [ubuntu-latest]
    steps:
      - name: Cache
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: Check out
        uses: actions/checkout@v6
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        id: toolchain
        with:
          toolchain: ${{ matrix.rust }}
      - name: Build all features
        run: cargo build --all-targets --all-features
      - name: Build no default features
        run: cargo build --all-targets --no-default-features
      - name: Build aws
        run: cargo build --all-targets --features aws
      - name: Show disk usage
        run: df -h
      - name: Top-level directories
        run: du -h -d1 / | sort -hr | head -n 20
      - name: Detailed file sizes
        run: find / -type f -exec du -h {} + 2>/dev/null | sort -hr | head -n 1000
      - name: Build url
        run: cargo build --all-targets --features url
