name: build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ${{ matrix.os }}
    env:
      CARGO_TERM_COLOR: always
      CARGO_INCREMENTAL: 0
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    strategy:
      matrix:
        rust: [stable]
        os: [ubuntu-latest]
    steps:
      - name: Cache
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: Check out
        uses: actions/checkout@v6
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        id: toolchain
        with:
          toolchain: ${{ matrix.rust }}
      - name: Check all features
        run: cargo check --all-targets --all-features
      - name: Check no default features
        run: cargo check --all-targets --no-default-features
      - name: Check aws
        run: cargo check --all-targets --features aws
      - name: Check url
        run: cargo check --all-targets --features url
